.root {
}

.media {
  width: 40%;
  border-radius: 8px;
  margin-bottom: 0;
  
}

.text {
  width: 100%;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  h3 {
    color: rgb(23, 33, 63);
    font-weight: 700;
  }

  p {
    color: #606060;
    font-weight: 400;
  }
}